---
import Main from "./layouts/Main.astro";

import { SpotifyWebAPI, type SpotifyWebAPICurrentlyPlayingResponse } from "../lib/SpotifyWebAPI";

const api = new SpotifyWebAPI();

// const data: SpotifyWebAPICurrentlyPlayingResponse | undefined = await api.requestCurrentlyPlaying();
---

<Main title="Dominic Brauer">

</Main>

<style>

</style>

<script>

</script>