---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dominic Brauer</title>
	</head>
	<body>
		<h1>Dominic Brauer</h1>
	</body>
</html>

<style>
	* {
		margin: 0;
		box-sizing: border-box;
		font-family: Verdana, sans-serif;
	}

	h1 {
		text-align: center;
		color: #EDEEF0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	html, body {
		background-color: #18191B;
	}
</style>
