---
import Main from "@/layouts/Main.astro";
import SongDisplay from "@/components/SongDisplay.astro";
---

<Main title="Dominic Brauer">
	<SongDisplay />
</Main>

<style>

</style>

<script>

</script>