---
import Main from "@/layouts/Main.astro";
import WebringBadge from "astro-webrings/badge";
import SongDisplay from "@/components/SongDisplay/SongDisplay.astro";
import SongDisplaySkeleton from "@/components/SongDisplay/SongDisplaySkeleton.astro";
---

<Main title="Dominic Brauer">
	<!--<section class="hero">
		<h1>Dominic Brauer</h1>
	</section>-->
	<section class="grid-area cflex">
		<SongDisplay server:defer>
			<SongDisplaySkeleton slot="fallback" />
		</SongDisplay>
		<div class="webrings rflex card">
			<WebringBadge site="dominicbrauer.dev" ring="built-with-astro" />
			<WebringBadge site="dominicbrauer.dev" ring="friends-of-houston" animated />
		</div>
	</section>
</Main>

<style>
	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 8rem;
		margin-bottom: var(--size-xl);
	}

	.grid-area {
		gap: var(--size-l);
		align-items: center;
	}

	.webrings {
		padding: var(--size-s);
		gap: var(--size-m);
		max-width: fit-content;
		align-items: center;
	}
</style>