---
import Main from "./layouts/Main.astro";

import { SpotifyAccessToken } from "../lib/SpotifyAccessToken.ts";

const myToken = new SpotifyAccessToken();
// await myToken.refreshAccessToken();
---

<Main title="Dominic Brauer">

</Main>

<style>

</style>

<script>

</script>