---
import Main from "@/layouts/Main.astro";
import WebringBadge from "astro-webrings/badge";
import SongDisplay from "@/components/SongDisplay.astro";
import PersonalInfo from "@/components/PersonalInfo.astro";
---

<Main title="Dominic Brauer">
	<div class="wrapper rflex">
		<SongDisplay />
		<PersonalInfo />
	</div>
	<div class="webrings rflex">
		<WebringBadge site="dominicbrauer.dev" ring="built-with-astro" />
		<WebringBadge site="dominicbrauer.dev" ring="friends-of-houston" animated />
	</div>
</Main>

<style>
	.wrapper {
		margin-bottom: var(--size-l);
		gap: var(--size-l);
	}

	.webrings {
		gap: var(--size-l);
	}
</style>