---
import SteamIcon from "@/assets/icons/steam.svg";
---

<div class="navbar rflex">
	<a class="home-link-container rflex" href="/">
		<span class="home-link-text">Dominic Brauer</span>
	</a>
	<div class="internal-links-wrapper">
		<a class="steam" href="/steam">
			<SteamIcon />
		</a>
	</div>
	<!-- <div class="external-links-wrapper"></div> -->
</div>

<style>
	.navbar {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		align-items: center;
		justify-content: space-between;
		position: fixed;
		max-width: 1200px;
		width: 100%;
		height: var(--navbar-height);
		background-color: var(--bg);
		padding: 1rem 2rem;
		box-shadow: 0 1px 8px 1px rgba(0, 0, 0, .5);
		z-index: 1000;
		border-bottom: 1px solid var(--border);
	}

	.home-link-container {
		position: relative;
		text-decoration: none;
		width: fit-content;
		height: fit-content;
		align-items: center;
	}
	
	.home-link-container::before,
	.home-link-container::after {
		content: '';
		position: absolute;
		width: 0;
		height: .25rem;
		background-color: var(--primary);
		transition: 250ms all ease-out;
	}
	
	.home-link-container::before {
		top: -.5rem;
		left: 0;
	}
	
	.home-link-container::after {
		bottom: -.5rem;
		right: 0;
	}

	.home-link-container:hover.home-link-container::before,
	.home-link-container:hover.home-link-container::after {
		width: 100%;
	}

	.home-link-text {
		color: var(--text);
		font-size: 1.5em;
		line-height: 1;
		text-wrap: nowrap;
	}

	.internal-links-wrapper .steam {

	}

	.internal-links-wrapper .steam svg {
		width: var(--size-l);
		height: auto;
		fill: var(--text-muted);
		stroke-width: 0;
		transition: 150ms all ease;
	}

	.internal-links-wrapper .steam:hover svg {
		fill: var(--text);
		stroke: var(--text);
	}

	@media (min-width: 1200px) {
		.navbar {
			border-left: 1px solid var(--border);
			border-right: 1px solid var(--border);
		}
	}
</style>