---
import HomeIcon from '../assets/icons/house.svg';
---

<div class="nav-bar-container">
	<a class="home-link-container" href="/">
		<HomeIcon class="home-link-icon" />
		<span class="home-link-text">Dominic Brauer</span>
	</a>
</div>

<style>
	.home-link-container {
		position: relative;
		text-decoration: none;
		display: flex;
		width: fit-content;
		height: fit-content;
		align-items: center;
		transition: 200ms all ease;
		overflow: hidden;
	}

	.home-link-container:hover {
		padding-left: 28px;
	}

	.home-link-container:hover .home-link-icon {
		bottom: 2px;
	}

	.home-link-icon {
		position: absolute;
		stroke: var(--primary);
		left: 0;
		bottom: -2rem;
		transition: 150ms all ease;
	}

	.home-link-text {
		font-size: 1.5em;
	}
</style>