---
import NavBar from "@/components/NavBar.astro";
import "@/styles/global.css";
import "@/styles/sizing.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://rybbit.dominicbrauer.dev/api/script.js"
			data-site-id="322a6b9d53c0"
			defer
			is:inline
		></script>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>