---
import NavBar from "@/components/NavBar.astro";
import "@/styles/global.css";
import "@/styles/sizing.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://rybbit.dominicbrauer.dev/api/script.js"
			data-site-id="322a6b9d53c0"
			defer
			is:inline
		/>
	</head>
	<body>
		<NavBar />
		<main class="cflex">
			<slot />
		</main>
	</body>
</html>

<style>
	main {
		padding-top: calc(var(--navbar-height) + var(--size-xl));
		padding-bottom: var(--size-xl);
		max-width: 1200px;
		width: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		align-items: center;
	}
</style>