---
import NavBar from '../components/NavBar.astro';
import '../styles/global.css'

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="cflex">
		<NavBar />
		<slot />
	</body>
</html>

<style>
	body {
		align-items: center;
		padding-top: calc(var(--nav-bar-height) + 2rem);
	}
</style>