---
import Main from "@/layouts/Main.astro";
import { SteamWebAPI } from "@/lib/steam/SteamWebAPI";

const api = new SteamWebAPI();
// const data = await api.requestGameAchievements("35140");
// console.log(data);
---

<Main title="Test page">
	<h1>Test Page</h1>
</Main>